@model ProjetSessionHL.Models.Enfant

@{
    ViewData["Title"] = "Details";
}

<h1 style="color: white; margin-top: 80px">Details</h1>

<div>
    <h4 style="color: white">Enfant</h4>
    <hr />
    <dl class="row" style="color: white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossedeSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossedeSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantGagnee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantGagnee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent.Description)
        </dd>
    </dl>
</div>
<div style="margin-bottom: 80px">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section NomPage {
        DETAILS
}
