@model EnfantVM

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: white; margin-top: 80px">Edit</h1>

<h4 style="color: white">Enfant</h4>
<hr />
<div class="row" style="color: white">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Enfant.Id" />
            <div class="form-group">
                <label asp-for="@Model.Enfant.ImgFile" class="control-label"></label>
                <input asp-for="@Model.Enfant.ImgFile" class="form-control" />
                <span asp-validation-for="@Model.Enfant.ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.Nom" class="control-label"></label>
                <input asp-for="@Model.Enfant.Nom" class="form-control" />
                <span asp-validation-for="@Model.Enfant.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.Description" class="control-label"></label>
                <input asp-for="@Model.Enfant.Description" class="form-control" />
                <span asp-validation-for="@Model.Enfant.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.Location" class="control-label"></label>
                <input asp-for="@Model.Enfant.Location" class="form-control" />
                <span asp-validation-for="@Model.Enfant.Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Enfant.PossedeSite" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.Site" class="control-label"></label>
                <input asp-for="@Model.Enfant.Site" class="form-control" />
                <span asp-validation-for="@Model.Enfant.Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.AnneCreation" class="control-label"></label>
                <input asp-for="@Model.Enfant.AnneCreation" class="form-control" />
                <span asp-validation-for="@Model.Enfant.AnneCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.Region" class="control-label"></label>
                <input asp-for="@Model.Enfant.Region" class="form-control" />
                <span asp-validation-for="@Model.Enfant.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.Abbreviation" class="control-label"></label>
                <input asp-for="@Model.Enfant.Abbreviation" class="form-control" />
                <span asp-validation-for="@Model.Enfant.Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.MontantGagnee" class="control-label"></label>
                <input asp-for="@Model.Enfant.MontantGagnee" class="form-control" />
                <span asp-validation-for="@Model.Enfant.MontantGagnee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enfant.IdParent" class="control-label"></label>
                <select asp-for="@Model.Enfant.IdParent" class="form-control" asp-items="@ViewBag.IdParent"></select>
                <span asp-validation-for="@Model.Enfant.IdParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-bottom: 80px">
    <a asp-action="Index">Back to List</a>
</div>

@section NomPage {
        EDIT TEAM
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
