@model ProjetSessionHL.Models.Parent

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: white; margin-top: 80px">Delete</h1>

<h3 style="color: white;">Are you sure you want to delete this?</h3>
<div>
    <h4style="color: white;"">Parent</h4style>
    <hr />
    <dl class="row" style="color: white;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgFileEquipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgFileEquipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lessons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lessons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coaches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coaches)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>

<div style="margin-bottom: 80px">
    <a asp-action="Index">Back to List</a>
</div>

@section NomPage {
       DELETE TEAM
}

